.gameScreen {
	margin: auto;
	background-color: rgba(0, 0, 153, .4);
	padding:  20px 20px;
	display: block;
	border-radius: 25px;

}

.center {
	width:  100%;
	margin: auto;
}

.titleText {
	width: 1024px;
	margin: 10px auto;
	padding:  20px 20px;
	text-align: left;
	color: royalblue;
}

.bodyText {
	width: 1024px;
	overflow: hidden;
	background-color: rgba(25, 25, 255, 0.3);
	color: royalblue;
	margin-top: 20px;
	padding: 0px 20px;
}


.bodyText a {
	color: lightblue;
}

.bodyText a:hover {
	color: lightcyan;
}

body {
	background-image: url(../images/background.png);
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gameInfo img {
	display: inline;
}


.scoreDiv {
	margin: auto;
	width: 1024px;
	overflow: hidden;
	background-color: rgba(25, 25, 255, 0.3);
	color: royalblue;
	margin-top: 20px;
	padding: 0px 20px;
	border-radius: 25px;
}

.infoCard {
	color: white;
	display: inline-block;

}

.left {
	text-align: left;
	width: 800px;
}

.right {
	text-align: right;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	text-align: center;
	margin-top: 10px;
	display: block;
	padding:  20px 20px;
}

.footer img{
	margin: 10px 10px;

}
